body {
  background-color: #1c1c1c; /* dark background */
}

h2,
h3 {
  color: #9b59b6; /* purple neon color for headings */
}

p,
li {
  color: #f5f5f5; /* almost white color for paragraphs and lists */
}

.app {
  /* styles for the App container */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  /* styles for the header */
}

.nav {
  /* styles for the navigation */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav_link {
  /* styles for the navigation links */
  text-decoration: none;
  color: #f5f5f5;
  margin-right: 10px;
  &:hover {
    color: #9b59b6;
  }
}

.footer {
  /* styles for the footer */
  background-color: #1c1c1c;
  text-align: center;
  padding: 10px;
}

.footer_text {
  /* styles for the footer text */
  color: #f5f5f5;
}

/* -- Author Code -- */

.article {
  position: fixed;
  padding: 10px 20px;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  background-color: #303b44;
  color: white;
  border-radius: 10px;
  transition: all 0.2s;
}

.article:hover {
  background-color: white;
  color: #4d80aa;
}

/* ---- */
